table {
  border-spacing: 10px;
  font-family: 'Roboto';
  height: 100vh;
  border-collapse: separate;
  border: none;
  margin: 20px;
}
td {
  vertical-align: top;
  text-align: center;
  color: #333a44;
  font-size: 1.6em;
  padding: 10px;
  border-spacing: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f3f4f6;
  border-color: rgb(229, 231, 235);
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-weight: bold;
}
.card {
  background: #fff;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: #222;
  box-sizing: border-box;
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* min-height: 100%; */
}
.title_block {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
}
.add_card {
  opacity: 0;
  transition: all 0.4s ease;
  margin: 5px;
  padding: 10px 0;
  cursor: pointer;
  background-color: #ffa658;
  color:#fff;
  font-weight: normal;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9em;
}
.add_card:hover {
  opacity: 1;
}
.name {
  font-size: 1em;
  margin: 0;
  font-weight: 500;
  color: #111;
}
.text {
  font-size: 1em;
  font-weight: 300;
  margin: 0.4em 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: initial;
}
.card_block {
  display: flex;
  flex-wrap: wrap;
  min-height: 10px;
  align-content: space-evenly;
}
textarea {
  resize: none;
  border: none;
  font-size: 1em;
  font-weight: 300;
  margin: 0.4em 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 5px;
  /* padding: 10px; */
  box-sizing: content-box;
  /* padding-bottom: 40px; */
  /* width: 90%; */
  /* margin: auto; */
  font-family: 'Roboto';
  /* height: 10px; */
  /* width: 80vw; */
}
textarea:focus {
  outline: none;
  /* border-color: #719ece; */
  /* box-shadow: 0 0 10px #719ece; */
}
.text_block{
  /* display: flex; */
  /* text-align:initial; */
}
.btn_ok{
  /* align-items: flex-end; */
  background-color: #09bbb5;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0;
  box-sizing: border-box;
  /* width: 40%; */
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
}
.time{
  font-style: italic;
  font-size: 12px;
  /* text-align: end; */
}